extends /layouts/app.pug

block title
	title Page Not Found

block content
	.flex-center.position-ref.full-height
		.content
			.title.m-b-md.
				404 - Page Not Found!

			.links
				a(href='/') Home
